* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 2000px;
  padding: 5em 18%;
  background-color: #313944;
}

/* formatting menu 2 */

.menu {
  width: 100%;
  height: 40px;
  padding: 0;
}

.menu-item {
  width: 20%;
  height: 100%;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  float: left;
}

.menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #3B8189;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.menu-item a:hover {
  background-color: #eee;
  color: #3B8189;  
}

.menu:after {
  content: "";
  display: block;
  clear: both;
}

/* menu formatting by Volodimir Saulyak */

/* .wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.top-nav {
	text-align: center;
	position: relative;
}

.top-nav li {
	display: inline-block;
	padding: 10px;
	margin: 4px;
}

.top-nav li a {
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #777;
	font-weight: bold;
}

.top-nav li:hover {
	color: #444;
	background-color: #eee;
} */

/* next formatting */

h1 {
  color: #fff;
  font-family: 'Cormorant';
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 48px;
  text-align: center;
}

h1::after {
  color: #1fcfcb;
  display: block;
  content: '. . .';
  font-size: 26px;
  line-height: 24px;
  height: 24px;
  margin: 48px auto;
}

h2 {
  color: #fff;
  font-family: 'Cormorant';
  font-size: 54px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 48px;
  text-align: center;
}

h3 {
  color: #3B8189;
  font-family: 'Lato';
  font-size: 20px;
  line-height: 72px;
  margin: 3em 0 1em 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #bbc8d8;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 500;
  line-height: 1.8em;
  margin-bottom: 36px;
}

a {
  color: #1fcfcb;
  font-family: 'Lato';
}

a:hover {
  color: #fff;
}

#back-to-top {
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: rgba(255, 255, 255, .9);
  color: #313943;
  border: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
  transition: all .3s ease-in-out;
  display: inline-block;
  opacity: 0;
  text-decoration: none;
  font-size: .75em;
}

#back-to-top:hover {
  background-color: #fff;
  padding: 1em 3em;
}

#back-to-top.visible {
  opacity: 1;
}

.right {
  text-align: right;
}

/* sticky element */

#sticky {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  background: rgba(119, 119, 119, 0.281);
  width: 100%;
  height: 6px;
  top: 60%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px #1fcfcb;
  /*	
	color: #fff; 
	*/
}

/* end sticky element */

.text {
  text-align: justify;
}

.left_img {
  max-width: 200px;
  width: 100%;
  height: auto;
  float: left;
  margin: 0.5em 1em 0 0;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(246, 175, 75, 0.8);
  box-shadow: 3px 3px 6px 0px rgba(246, 175, 75, 0.8);
}

@media screen and (max-width: 960px) {
  body {
    padding: 2em 10%;
  }

  .menu-item {
    float: none;
    width: 100%;
  }

  .PhilomelCottage {
    margin-top: 200px;
  }

  h3 {
    margin: 2em 0 1em 0;
  }
}

@media screen and (max-width: 500px) {
  .left_img {   
    max-width: 100%;
    height: auto;
    float: none;      
  }
}

@media screen and (max-width: 300px) {
  body {
    padding: 1em 2%;
  }

  .PhilomelCottage {
    font-size: 4em;
  }

  h3 {
    margin: 1em 0 1em 0;
  }
}